@model List<TblTournament>
@{
    ViewData["Title"] = "Tournament Management";
}

<h2>Tournament Management</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Venue</th>
            <th>District</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.TournamentId">
                <td class="name">@item.TournamentName</td>
                <td class="venue">@item.Venue</td>
                <td class="district">@item.DistictName</td>
                <td>
                    <a href="@item.URL" title="@item.URL" style="word-break: break-all; display: inline-block; max-width: 250px;">
                        @item.URL
                    </a>

                   
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
       
    </script>
}
