@model List<TblTournament>
@{
    ViewData["Title"] = "Tournament Management";
}

<h2>Tournament Management</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>Name</th>
            <th>Venue</th>
            <th>District</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr data-id="@item.TournamentId">
                <td class="name">@item.TournamentName</td>
                <td class="venue">@item.Venue</td>
                <td class="district">@item.DistictName</td>
                <td>
                    <button onclick="window.location.href='@item.URL'" class="btn btn-sm btn-primary edit-btn">
                        Register Now
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
       
    </script>
}
